.topbar
{
    height:50px;
    width:100%;
    background-color:teal;

    p-button
    {
        float:right;
        margin-top:7px;
        margin-right:10px;
    }

}
nav {
    float:left;
    height:100%;
    width:10%;

    a {
        display: block;
        margin:5px;
    }
}
.mainContainer
{
    float:right;
    width:90%;
}