.topbar
{
    height:50px;
    width:100%;
    background-color:#749696;

    p-button
    {
        float:right;
        margin-top:7px;
        margin-right:10px;
    }
    .logo
    {
        height:50px;
        width:50px;
        background-image:url('../assets/logo.jpg');
        background-size:cover;
        float:left;
    }
}
nav {
    float:left;
    height:100%;
    width:10%;

    a {
        display: block;
        margin:5px;
    }
}
.mainContainer
{
    float:right;
    width:90%;
}